In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql.functions import col, udf

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

2022-12-18T09:53:21,910 WARN [Thread-4] org.apache.spark.sql.SparkSession - Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
daft_df = pd.read_csv("data/cleaned/daft_listing.csv", index_col=["Unnamed: 0"]
    ).drop(columns=["Page", "New_build"]
    ).dropna(subset=["Property_type"]
    ).reset_index(drop=True).rename(
    columns={"m²":"Floor_area"})

In [4]:
myhome_df = pd.read_csv("data/cleaned/myhome_listing.csv", index_col=["Unnamed: 0"]
    ).drop(columns=["Page", "New_build"]
    ).dropna(subset=["Property_type"]
    ).reset_index(drop=True).rename(
    columns={"beds":"Bed","baths":"Bath", "floor_area":"Floor_area"})

In [5]:
myhome_df

,Bed,Bath,Floor_area,Price,Address,Property_type,County,Province
0,3.0,3.0,NaN,NaN,"3 Bedroom Apartment - 55 Lad Lane, Dublin 2",Apartment,Dublin 2,Leinster
1,3.0,1.0,105.00,550000.0,"38 The Avenue, Boden Park, Rathfarnham, Dubli...",Semi-Detached House,Dublin 14,Leinster
2,4.0,3.0,110.00,795000.0,"130 Carysfort Park, Blackrock, County Dublin",Semi-Detached House,Dublin,Leinster
3,2.0,1.0,68.00,295000.0,"5 Woodbrook Hall, Carpenterstown, Dublin 15",Apartment,Dublin 15,Leinster
4,4.0,2.0,170.07,895000.0,"70 Kincora Grove, Clontarf, Dublin 3",Semi-Detached House,Dublin 3,Leinster
...,...,...,...,...,...,...,...,...
9420,5.0,5.0,200.00,365000.0,"No. 1 Gleann Na Boirne, Bellharbour, Clare",Detached House,Clare,Munster
9421,3.0,1.0,107.00,419000.0,"Knockdilly Cottage, Knockdilly, Kilmuckridge,...",Detached House,Wexford,Leinster
9422,4.0,3.0,248.51,435000.0,"Dooneen, Carrigtwohill, Cork",Detached House,Cork,Munster
9423,2.0,3.0,75.00,197500.0,"14 Blossom Court, Esker Hills, Portlaoise, Laois",Detached House,Laois,Leinster
9424,4.0,2.0,NaN,198000.0,"57 Garbally Drive, Ballinasloe, Co. Galway",Semi-Detached House,Galway,Connaught

In [6]:
df = daft_df.append(
    myhome_df).reset_index(
    drop=True).drop_duplicates(
    subset="Address").drop_duplicates(
    subset=["Bed","Bath","Floor_area","Price","Property_type","County"]).reset_index(
    drop=True)

/tmp/ipykernel_727/866746965.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = daft_df.append(

In [7]:
sparkDF=spark.createDataFrame(df)

/home/lynchp/hadoop_dss/spark/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/lynchp/hadoop_dss/spark/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [8]:
sparkDF.printSchema()

root
 |-- Bed: double (nullable = true)
 |-- Bath: double (nullable = true)
 |-- Floor_area: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Address: string (nullable = true)
 |-- Property_type: string (nullable = true)
 |-- County: string (nullable = true)
 |-- Province: string (nullable = true)

In [9]:
sparkDF.show()

+---+----+------------------+---------+--------------------+--------------+---------+---------+
|Bed|Bath|        Floor_area|    Price|             Address| Property_type|   County| Province|
+---+----+------------------+---------+--------------------+--------------+---------+---------+
|2.0| 1.0|              52.0| 295000.0|8 Parknasilla, Ve...|     Apartment|  Wicklow| Leinster|
|3.0| 3.0|              93.0| 230000.0|7 Meadow Avenue, ...|        Semi-D|     Cork|  Munster|
|4.0| 3.0|              86.0| 265000.0|5 Friar Street, C...|       Terrace|     Cork|  Munster|
|3.0| 1.0|              82.0| 375000.0|12 Barrack Street...|End of Terrace|     Cork|  Munster|
|5.0| 4.0|             186.0| 405000.0|3 The Garden, Whi...|        Semi-D|    Meath| Leinster|
|6.0| 7.0|             763.0|3000000.0|7 Henrietta Stree...|       Terrace| Dublin 1| Leinster|
|5.0| 5.0|             328.0| 795000.0|Zion House, Carnm...|      Detached|   Galway|Connaught|
|5.0| 4.0|             232.0| 625000.0|3 The Fairways, M...|      Detached|     Cork|  Munster|
|3.0| 2.0|             171.0| 230000.0|Derryart, Dunfana...|      Detached|  Donegal|   Ulster|
|4.0| 3.0|             125.0| 295000.0|168 Palace Fields...|        Semi-D|   Galway|Connaught|
|5.0| 6.0|             371.0|      NaN|Kilclare House, C...|      Detached|     Cork|  Munster|
|5.0| 5.0|             781.0|    1.0E7|Drumleck House, C...|      Detached|Dublin 13| Leinster|
|4.0| 3.0|             200.0| 875000.0|13 Inverness Road...|       Terrace| Dublin 3| Leinster|
|4.0| 2.0|             152.0| 895000.0|3 Ballymun Road, ...|      Detached| Dublin 9| Leinster|
|4.0| 3.0|               NaN| 725000.0|Mallahow, Naul, C...|        Semi-D|   Dublin| Leinster|
|1.0| 1.0|              48.0| 270000.0|Apartment 133, Bl...|     Apartment| Dublin 8| Leinster|
|4.0| 3.0|             181.0| 495000.0|13 Robin Vale, He...|      Detached|     Cork|  Munster|
|2.0| 2.0|              60.0| 245000.0|4 Newlands Manor ...|     Apartment|Dublin 22| Leinster|
|7.0| 8.0|             268.0|1200000.0|Waterside House, ...|      Detached|     Cork|  Munster|
|0.0| 0.0|3035.0855894136216|      NaN|The Paddocks, Kil...|          Site|    Meath| Leinster|
+---+----+------------------+---------+--------------------+--------------+---------+---------+
only showing top 20 rows

In [13]:
sparkDF.groupBy("County").count().sort("count").show(5)

+---------+-----+
|   County|count|
+---------+-----+
|    Derry|    1|
|Dublin 06|    1|
|   Tyrone|    3|
|   Armagh|    4|
|     Down|    9|
+---------+-----+
only showing top 5 rows

In [10]:
county_count = sparkDF.groupBy("County").count().sort("count")


dublin_counties = county_count.filter(
    county_count["count"] < 50).filter(
    county_count.County.startswith(
    "Dublin"))

dublin_counties.show()
non_dublin_counties = county_count.filter(
    county_count["count"] < 50).filter(
    ~county_count.County.startswith(
    "Dublin")).select(
    "County")

+---------+-----+
|   County|count|
+---------+-----+
|Dublin 06|    1|
|Dublin 17|   29|
|Dublin 10|   47|
+---------+-----+

As you can see there are a couple of county with only a few properties, for this reason I Will remove rows with less than 50 unless they are in Dublin.  
For counties such as Dublin 17 I will rename to just Dublin.

First I will change the following.

1. Dublin 17
1. Dublin 10
1. Dublin 20  

All to Dublin.  
Then I will drop rows with county count < 50.

In [11]:
def remove_small_counties(df, dublin_counties, non_dublin_counties):
    for county in dublin_counties.collect():
        df= df.replace(county["County"], "Dublin")
        
    for county in non_dublin_counties.collect():
        df = df.where(df.County != county["County"])
    return df

In [14]:
sparkDF= remove_small_counties(sparkDF, dublin_counties, non_dublin_counties)

In [15]:
sparkDF.groupBy("County").count().sort("count").show(5)

+---------+-----+
|   County|count|
+---------+-----+
|Dublin 20|   64|
| Dublin 2|   77|
| Dublin 1|   94|
|Dublin 22|  162|
| Monaghan|  171|
+---------+-----+
only showing top 5 rows

In [62]:
sparkDF.dropna().describe().show()

+-------+-----------------+------------------+--------------------+-----------------+--------------------+-------------+-------+---------+
|summary|              Bed|              Bath|          Floor_area|            Price|             Address|Property_type| County| Province|
+-------+-----------------+------------------+--------------------+-----------------+--------------------+-------------+-------+---------+
|  count|            19584|             19584|               19584|            19584|               19584|        19584|  19584|    19584|
|   mean|3.059640522875817| 2.075980392156863|   21640.27954382656|429264.2698120915|                null|         null|   null|     null|
| stddev|1.549014341668282|1.3667834059372286|  2108118.8043754483|491146.5708130747|                null|         null|   null|     null|
|    min|              0.0|               0.0|                 0.0|          10000.0|  "Oaks House" Co...|    Apartment| Carlow|Connaught|
|    max|             30.0|              25.0|2.6304075108251387E8|           1.25E7|Áit Eile, Coornag...|    Townhouse|Wicklow|   Ulster|
+-------+-----------------+------------------+--------------------+-----------------+--------------------+-------------+-------+---------+

In [2]:
def plot_subjects(df,colName, title, xlabel):   
    fontdict = {"fontsize":20}
    plt.barh(df.index, df[colName],)
    plt.title(title,fontdict)
    plt.ylabel('Subject ID',fontdict)
    plt.xlabel(xlabel,fontdict)
    plt.show()
    
def plot_boxplot(df, title, ylabel, xlabel):
    fontdict = {"fontsize":20}
    plt.title(title)
    plt.title(title,fontdict)
    plt.ylabel(ylabel,fontdict)
    plt.xlabel(xlabel,fontdict)
    sns.boxplot(data=df, width = 0.5,orient="horizontal")

In [82]:
import ipywidgets as widgets
from IPython.display import display, clear_output

In [103]:
def create_multipleChoice_widget(description, df, colName):
    
    options = sorted([county["County"] for county in df.select(colName).distinct().collect()])
    
    radio_options = [(words, i) for i, words in enumerate(options)]
    alternativ = widgets.SelectMultiple(
        options = radio_options,
        description = '',
        disabled = False
    )
    
    description_out = widgets.Output()
    with description_out:
        print(description)
        
    feedback_out = widgets.Output()

    def check_selection(b):
        genre_index = [val for val in alternativ.index]
        
        with feedback_out:
            clear_output()
            print(f"You selected {len(genre_index)}, continue if correct.")
        return genre_index
    
    check = widgets.Button(description="submit")
    check.on_click(check_selection)
    return widgets.VBox([description_out, alternativ, check, feedback_out])

In [104]:
county_selecter = create_multipleChoice_widget('Pick the county(s) that you are interested in:',sparkDF, "County")
county_selecter = create_multipleChoice_widget('Pick the county(s) that you are interested in:',sparkDF, "County")
county_selecter = create_multipleChoice_widget('Pick the county(s) that you are interested in:',sparkDF, "County")

In [106]:
sparkDF.show()

+---+----+------------------+---------+--------------------+--------------+---------+---------+
|Bed|Bath|        Floor_area|    Price|             Address| Property_type|   County| Province|
+---+----+------------------+---------+--------------------+--------------+---------+---------+
|2.0| 1.0|              52.0| 295000.0|8 Parknasilla, Ve...|     Apartment|  Wicklow| Leinster|
|3.0| 3.0|              93.0| 230000.0|7 Meadow Avenue, ...|        Semi-D|     Cork|  Munster|
|4.0| 3.0|              86.0| 265000.0|5 Friar Street, C...|       Terrace|     Cork|  Munster|
|3.0| 1.0|              82.0| 375000.0|12 Barrack Street...|End of Terrace|     Cork|  Munster|
|5.0| 4.0|             186.0| 405000.0|3 The Garden, Whi...|        Semi-D|    Meath| Leinster|
|6.0| 7.0|             763.0|3000000.0|7 Henrietta Stree...|       Terrace| Dublin 1| Leinster|
|5.0| 5.0|             328.0| 795000.0|Zion House, Carnm...|      Detached|   Galway|Connaught|
|5.0| 4.0|             232.0| 625000.0|3 The Fairways, M...|      Detached|     Cork|  Munster|
|3.0| 2.0|             171.0| 230000.0|Derryart, Dunfana...|      Detached|  Donegal|   Ulster|
|4.0| 3.0|             125.0| 295000.0|168 Palace Fields...|        Semi-D|   Galway|Connaught|
|5.0| 6.0|             371.0|      NaN|Kilclare House, C...|      Detached|     Cork|  Munster|
|5.0| 5.0|             781.0|    1.0E7|Drumleck House, C...|      Detached|Dublin 13| Leinster|
|4.0| 3.0|             200.0| 875000.0|13 Inverness Road...|       Terrace| Dublin 3| Leinster|
|4.0| 2.0|             152.0| 895000.0|3 Ballymun Road, ...|      Detached| Dublin 9| Leinster|
|4.0| 3.0|               NaN| 725000.0|Mallahow, Naul, C...|        Semi-D|   Dublin| Leinster|
|1.0| 1.0|              48.0| 270000.0|Apartment 133, Bl...|     Apartment| Dublin 8| Leinster|
|4.0| 3.0|             181.0| 495000.0|13 Robin Vale, He...|      Detached|     Cork|  Munster|
|2.0| 2.0|              60.0| 245000.0|4 Newlands Manor ...|     Apartment|Dublin 22| Leinster|
|7.0| 8.0|             268.0|1200000.0|Waterside House, ...|      Detached|     Cork|  Munster|
|0.0| 0.0|3035.0855894136216|      NaN|The Paddocks, Kil...|          Site|    Meath| Leinster|
+---+----+------------------+---------+--------------------+--------------+---------+---------+
only showing top 20 rows

2022-12-17T23:25:27,245 WARN [dispatcher-event-loop-0] org.apache.spark.HeartbeatReceiver - Removing executor driver with no recent heartbeats: 12928043 ms exceeds timeout 120000 ms
2022-12-17T23:25:27,394 WARN [kill-executor-thread] org.apache.spark.SparkContext - Killing executors is not supported by current scheduler.

In [105]:
display(s)

VBox(children=(Output(), SelectMultiple(options=(('Carlow', 0), ('Cavan', 1), ('Clare', 2), ('Cork', 3), ('Don…